name: check-extensions-build-config

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  check-extensions-build-config:
    name: check-extensions-build-config
    runs-on: ubuntu-24.04-8core-amd64
    steps:
    - uses: actions/checkout@v3
    - name: Add safe directory
      run: git config --global --add safe.directory /__w/envoy-gloo-ee/envoy-gloo-ee
    - name: Run check-extensions-build-config.sh
      run: ci/check_extensions_build_config.sh
    # - name: Archive check results
      # if: ${{ !cancelled() }}
      # uses: actions/upload-artifact@v3
      # with:
      #   name: static-analysis-report
      #   path: linux/amd64/analysis/scan-build-*/
